/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


:root{
  --primary-color: #40E0D0;
  --black-color: #383838;
  --alert: #FF3030
}

body{
  text-align: center;
  background-color: #F7F7F7;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  text-align: left;
  margin-top: 10%;
  padding: 20px;
  display: inline-block;
  background-color: white;
  width: 40vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  line-height: 2.2em;
}

#add{
	margin-bottom: 100px;
}

.input{
	display: flex;
}


.filter{
	display: flex;
}
.filter input{
	height: 30px;
}

input{
	width: 100%;
	outline: 0;
}	
input::placeholder{
	text-align: center;
	padding-bottom: 10px;
}

input:focus{
	border: 3.5px solid var(--primary-color);
	border-radius: 4px;
}	

.input button{
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	margin-left: 10px;
	color: white;
	/* background-color: #4DC65A; */
	background-color: var(--primary-color);
	border: none;
}

h1{
	font-size: 28px;
	font-weight: bold;
}
h2{
	font-weight: bold;
	font-size: 20px;
}
h3{
	font-size: 18px;
	color: #B3B3B3;
}

ul{
	flex-direction: column-reverse;
	display: flex;

}
li{
	padding: 0.43rem;
	border-bottom: 1px solid var(--primary-color);
	display: flex;
}
li:first-child{
	border-bottom: none;
}

.remove-task {
	color: var(--alert);
	cursor: pointer;
	margin-left: auto;
}

.clear-tasks button{
	cursor: pointer;
	margin-top: 20px;
	display: inline-block;
	padding: 10px 40px;
	color: white;
	background-color: var(--alert);
	border: none;
}
