@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}
:root{
  --primary: #00D6FF;
  --secondary: #BEBEBE;
  --bg-grey: #EDEDED;
}
body {
  margin: 0;
  font-family: "Poppins", "sans-serif";
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-grey);
}
.container{
  text-align: center;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  max-width: 100%;
  width: 350px;
}

.progress {
  background-color: var(--primary);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 10%;
  position: absolute;
  z-index: -1;
  transition: .8s ease;
}

.progress-container::before{
  content: "";
  background-color: var(--secondary);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  position: absolute;
  z-index: -2;
}

.circle {
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 4px solid var(--secondary);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle.active{
  border-color: var(--primary);
  transition: 0.2s ease 0.4s;
}

.btn{
  border: 0px solid;
  background-color: var(--primary);
  color: white;
  padding: 10px 40px;
  border-radius: 0.24rem;
  cursor: pointer;
  margin: 5px;
}

.btn:active{
  transform: scale(0.97);
}
.btn:focus{
  outline: 0;
}

.btn:disabled{
  background-color: var(--secondary);
  cursor: not-allowed;
}
